
<mat-toolbar color="primary">

  <span class="app-title">
    My Todo List
  </span>

  <span class="spacer"></span>

  <div class="profile-section" *ngIf="userDetails">
    <span class="username">
      {{ userDetails.username }}
    </span>

    <img src="https://api.imgbb.com/" alt="Profile" class="profile-image" [matMenuTriggerFor]="profileMenu">
    <mat-menu #profileMenu="matMenu">
      <button mat-menu-item (click)="goToSettings()">
        <mat-icon>settings</mat-icon>
        Settings
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        Logout
      </button>
      <button mat-menu-item (click)="home()">
        <mat-icon>Home</mat-icon>
        Home 
      </button>

    </mat-menu>
  </div>

</mat-toolbar>


<div id="home-page">
  <div class="top-buttons">
  <button mat-raised-button color="accent" (click)="goToBranchPage()"> Fetch Branch Details</button>
  <button mat-raised-button color="primary" class="add-btn" (click)="addUser()">
  <mat-icon>add</mat-icon>Add Task</button>
  </div>
  <form [formGroup]="userForm">
    <div formArrayName="users">
      <mat-card class="user-card" *ngFor="let user of users.controls; let i = index" [formGroupName]="i">

        <!-- Task Name -->

        <mat-form-field
          appearance="outline"
          class="full-width"
        >

          <mat-label>Task Name</mat-label>

          <input
            matInput
            formControlName="name"
            [readonly]="editIndex !== i"
          >

        </mat-form-field>


        <!-- Priority Dropdown -->

        <mat-form-field appearance="outline">

          <mat-label>Priority</mat-label>

          <mat-select
            formControlName="priority"
            [disabled]="editIndex !== i"
          >

            <mat-option value="High">
              High
            </mat-option>

            <mat-option value="Medium">
              Medium
            </mat-option>

            <mat-option value="Low">
              Low
            </mat-option>

          </mat-select>

        </mat-form-field>


        <!-- Age -->

        <mat-form-field appearance="outline">

          <mat-label>Days</mat-label>

          <input
            matInput
            type="number"
            formControlName="age"
            [readonly]="editIndex !== i"
          >

        </mat-form-field>


        <!-- Buttons -->

        <div class="actions">

          <!-- Edit -->

          <button
            mat-mini-fab
            color="accent"
            *ngIf="editIndex !== i"
            (click)="editUser(i)"
          >

            <mat-icon>edit</mat-icon>

          </button>


          <!-- Save -->

          <button
            mat-mini-fab
            color="primary"
            *ngIf="editIndex === i"
            (click)="saveUser()"
          >

            <mat-icon>save</mat-icon>

          </button>


          <!-- Delete -->

          <button
            mat-mini-fab
            color="warn"
            (click)="deleteUser(i)"
          >

            <mat-icon>delete</mat-icon>

          </button>

        </div>

      </mat-card>

    </div>

  </form>

</div>