<div id="login-page">
  <h2>Account Verification</h2>
  
    <form *ngIf="step === 1" [formGroup]="loginForm" (ngSubmit)="login()">
    <label> Username</label>
    <input type="text" formControlName="username">
    <label>Password</label>

    <input type="password" formControlName="password">

    <button type="submit">Login</button>
</form>
  <div *ngIf="step === 2">
    <form [formGroup]="mobileForm">
      <label>account Number</label>
      <input type="text" formControlName="mobile">

      <button type="button" (click)="generateOtp()">Generate OTP </button>
    </form>

  </div>
  <div *ngIf="step === 3">
  <form [formGroup]="otpForm">

    <div class="otp-section">

      <mat-form-field appearance="outline" class="otp-field">

        <mat-label>OTP</mat-label>

        <input
          matInput
          [type]="showOtp ? 'text' : 'password'"
          formControlName="otp"
        >

        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="showOtp = !showOtp"
        >

          <mat-icon>
            {{ showOtp ? 'visibility_off' : 'visibility' }}
          </mat-icon>

        </button>

      </mat-form-field>

      <button
        type="button"
        class="verify-btn"
        (click)="verifyOtp()"
      >

        Verify OTP

      </button>

    </div>

  </form>

</div>


  <p class="error" *ngIf="errorMessage">
    {{ errorMessage }}
  </p>

</div>